* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Winky Sans", sans-serif;
    scroll-snap-type: y mandatory;
    z-index:0;
    background-color: #efaa55;
}

.section {
    height: 100svh;
    width: 100vw;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.firstpage {
    background-color: #efaa55;
}

.chart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.pie-chart {
    width: 85svh;
    height: 85svh;
    border-radius: 50%;
    rotate: -5deg;
    position: relative;
}

@keyframes fillPieChart {
    0% {
        background: conic-gradient(#343638 0% 0%, #d3a046 0% 100%);
    }
    100% {
        background: conic-gradient(#343638 0% 40%, #e3dbd1 40% 100%);
    }
}

.firsttext-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.firsttext {
    font-size: 6svh;
    color: white;
    text-align: center;
    animation: floatUpFadeIn 1s ease-out forwards, slightrotate 10s ease-in-out infinite;
    rotate: 5deg;
    position: relative;
}

@keyframes floatUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slightrotate {
    0%, 100% {
        rotate: 6deg;
    }
    50% {
        rotate: 4deg;
    }
}

.chartoutline {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86.5svh;
    height: 86.5svh;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: #ffce9a;
    border: 10px solid #ffce9a;
    border-radius: 50%;
    animation: breathe 3s infinite ease-in-out;
    display: block;
}

@keyframes breathe {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
}

.scrolldownarrow {
    position: absolute;
    bottom: 20px;
    right: 40px;
    fill: #ffce9a;
    width: 5svh;
    height: 5svh;
    animation: bounce 1.5s infinite;
    cursor: pointer;
    z-index:999;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.secondpage {
    background-color: #3364ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10svh;
}
 
.thatmeans {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2svh);
    text-align: center;
    font-size: 5svh;
    color: white;
    padding: 0 15svh;
    line-height: 1.2;
    width: 95vw;
}

b {
    font-weight: 1000;
}

.fallingbackground {
    position: absolute;
    top: -100svh;
    left: 0;
    width: 100vw;
    height: 100svh;
    background-color: #5a5a5e;
    z-index: -1;
    animation: fall 2s forwards;
}

.falling-background.animate {
    top: 0;
}

.svg-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10%);
    grid-auto-rows: 1fr;
    gap: 0;
    width: 100vw;
    height: 85svh;
    margin: 5svh 0 0 0;
}

.svg-grid svg {
    width: 100%;
    height: 100%;
    fill: #c0c0c7;
    transition: transform 0.3s ease;
}

.svg-grid svg:hover {
    transform: scale(1.1);
}

@keyframes slowRotate {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}
@keyframes slowRotatOtherDirection {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

@keyframes slowerRotate {
    0% {
        transform: rotate(-1.5deg);
    }
    50% {
        transform: rotate(1.5deg);
    }
    100% {
        transform: rotate(-1.5deg);
    }
}

.svg-grid svg.healthy {
    /* animation: slowRotate 1.5s infinite ease-in-out; */
    transition: scale 0.3s ease;
}
.svg-grid svg.dancing {
    animation:slowRotatOtherDirection 1.5s infinite ease-in-out;
}
.svg-grid svg.otherDancing {
    animation:slowRotate 1.5s infinite ease-in-out;
}
.svg-grid svg.healthy:hover {
    scale: 1.1;
}

.thirdpage {
    background-color: #f5d96c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10svh;
}
.relaylogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translate(7.5svh,-3svh);
        fill: rgb(255, 179, 56);


}
.moon{
    scale:200%;
    animation: twinkle 8s infinite ease-in-out;
    transform: translateX(-8svh);
    transition: scale 0.3s ease;
}

.moon:hover, .firststar:hover, .secondstar:hover, .thirdstar:hover, .bigstar:hover{
    scale: 220%;
}
.donate:hover, .counter:hover {
    scale: 110%;
}
.firststar{
    scale:200%;
    animation:twinkle 4s infinite ease-in-out;
    transform: translate(-0.5svh,-16svh);
    transition: scale 0.3s ease;
}
.secondstar{
    scale:200%;
    animation:twinkle 3s infinite ease-in-out;
    transform: translate(3svh,-13.75svh);
    transition: scale 0.3s ease;
}
.thirdstar{
    scale:200%;
    animation:twinkle 2s infinite ease-in-out;
    transform: translate(6svh,-9.5svh);
    transition: scale 0.3s ease;
}
.bigstar{
    scale:200%;
    animation:twinkle 5s infinite ease-in-out;
    transform: translate(-24svh,-14svh);
    transition: scale 0.3s ease;
}
.relayis {
    color:    rgb(255, 255, 255);
    width:50svh;
    font-size:3.5svh;
    position:absolute;
    animation:slowerRotate 7s infinite ease-in-out;

}
.relayis b {
    font-weight:700;
    animation:twinkle 5s infinite ease-in-out;
}
@keyframes twinkle {
    0% {
        opacity: 100%;
    } 50% {
        opacity:50%;
    } 100% {
        opacity: 100%;
    }
}
@keyframes spinspinspin{}

.fourthpage {
    background-color: rgb(96, 202, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.liquid-container {
    position: absolute;
    width: 20svh;
    height: 60svh;
    border: 1svh solid #fff;
    border-radius: 4svh;
    overflow: hidden;
    background-color: rgb(62, 131, 50);
    display: flex;
}

.liquida {
    position: absolute;
    width: 400%;
    height: 100%;
    flex-shrink: 0;
    animation: scrollLeft 30s linear infinite;
    fill:rgb(73, 150, 59);
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.liquidb {
    position: absolute;
    width: 400%;
    height: 100%;
    flex-shrink: 0;
    animation: scrollLeftTwo 30s linear infinite;
    fill:rgb(73, 150, 59);
}

@keyframes scrollLeftTwo {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.bottomliquid {
    position: absolute;
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    background-color: rgb(73, 150, 59);
    transform: translateY(100%);
}

.wearecurrently, .towardsourgoal {
    position: absolute;
    transform: translate(-50%, 2svh);
    text-align: center;
    font-size: 6svh;
    color: white;
    padding: 0 10vw;
    line-height: 1.2;
    width: 85vw;
}

.wearecurrently {
    transform: translate(0,0);
    top:7.5svh;
}
.counter {
    transform: translate(37.5svh, -12.5svh);
    position: absolute;
    color:#fff;
    width:50svh;
    font-size:5svh;
    transition: scale 0.3s ease;
}
.towardsourgoal {
    transform: translate(0, 0);
    bottom: 7.5svh;
}

.fifthpage {
    background-color: #3364ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10svh;
}

.fifthpage .svg-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10%);
    grid-auto-rows: 1fr;
    gap: 0;
    width: 100vw;
    height: 85svh;
    margin: 5svh 0 0 0;
}

.sixthpage {
    background-color: #fa7171;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10svh;
}
.donatenow {
    color: #fff;
    text-align: center;
    font-size: 7svh;
    transform: translateY(15svh);
}
.donate {
    font-family: "Winky Sans", sans-serif;
    font-weight:800;
    font-size: 5svh;
    padding: 2svh 4svh;
    border: 1svh solid #ba4d4d00;
    border-radius: 2svh;
    margin-top: 5svh;
    background-color: #e14545;
    color: white;
    cursor: pointer;
    transform: translateY(15svh);
    transition: scale 0.3s ease;
}

@media (aspect-ratio: 1/1), (max-aspect-ratio: 1/1) {
    .pie-chart {
        width: 85vw;
        height: 85vw;
    }

    .chartoutline {
        width: 86.5vw;
        height: 86.5vw;
    }

    .firsttext {
        font-size: 6vw;
    }
    .thatmeans {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2svh);
    text-align: center;
    font-size: 5vw;
    color: white;
    padding: 0 10vw;
    line-height: 1.2;
    width: 95vw;
}
.svg-grid svg {
    width: 10vw;
    scale: 1.5;
}

    .relaylogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translate(7.5vw,-3vw)
}
.moon{
    scale:130%;
    animation: twinkle 8s infinite ease-in-out;
    transform: translate(-12vw,0);
    transition: scale 0.3s ease;
}

.moon:hover, .firststar:hover, .secondstar:hover, .thirdstar:hover, .bigstar:hover{
    scale: 130%;
}
.firststar{
    scale:130%;
    animation:twinkle 4s infinite ease-in-out;
    transform: translate(-0.5vw,-32vw);
    transition: scale 0.3s ease;
}
.secondstar{
    scale:130%;
    animation:twinkle 3s infinite ease-in-out;
    transform: translate(4.5vw,-27.5vw);
    transition: scale 0.3s ease;
}
.thirdstar{
    scale:130%;
    animation:twinkle 2s infinite ease-in-out;
    transform: translate(9vw,-19vw);
    transition: scale 0.3s ease;
}
.bigstar{
    scale:130%;
    animation:twinkle 5s infinite ease-in-out;
    transform: translate(-53vw,-30vw);
    transition: scale 0.3s ease;
}
.relayis {
    width:50vw;
    font-size:4.5vw;
    position:absolute;
    animation:slowerRotate 7s infinite ease-in-out;
}

.wearecurrently, .towardsourgoal, .counter {
    font-size: 10vw;
    padding: 0 10vw;
    line-height: 1.2;
    width: 100vw;
}

.wearecurrently {
    transform: translate(0,0);
    top:7.5vw;
}
.counter {
    transform: translate(0,0);
    top: 20vw;
    font-size:15vw;
    text-align:center;
}
.towardsourgoal {
    transform: translate(0, 0);
    top: 35vw;
}

.liquid-container {
    position: absolute;
    width: 20svh;
    height: 60svh;
    transform: translateY(15svh);
    overflow: hidden;
    background-color: #2c2c34;
    display: flex;
}
}